version: '3.5'

services:

  bahmni:
    labels:
      - traefik.enable=true
      - traefik.http.routers.emr-active-${INSTANCE_NAME:-}.rule=Host(`${EMR_HOST_NAME:-local.emr.ocb.msf.org}`)
      - traefik.http.routers.emr-active-${INSTANCE_NAME:-}.tls.certresolver=letsencrypt_dns
    expose:
      - 80
    ports:
      - target: 3306
        published: 3306 # Mysql replication
      - target: 5432
        published: 5432 # PostgreSQL replication

